.container{
    border-bottom: 1px dotted grey;
}

.cartModal {
    position: fixed;
    top: 0;
    right: -400px;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 1000;
  }
  
  .cartModal.open {
    right: 0;
  }
  
  .cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }
  
  .cartContent {
    padding: 1rem;
  }
  
  .cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 50%;
  }
  
  .cartItemImage {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }

  .selector{
    display: flex;
  }

  .selector button{
    border: none;
    background: white;
  }
  
  .closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .removeItem{
    color: red;
    border: none;
    background: white;
    float: right;
  }
  